[Unit]
Description=A virtual file system adapter for Azure Blob storage.
After=network-online.target
Requires=network-online.target

[Service]
# Configures the mountpoint.<path/to/the/mounting/point>
Environment=BlobMountingPoint=$HOME/azure
# Configures the tmp location for the cache. Always configure the fastest disk (SSD or ramdisk) for best performance.
Environment=BlobTmp=/tmp/azure-blob
# Config file path
Environment=BlobConfigFile=/opt/blobfuse2/azure-config.yml

# Specifies the storage account blobfuse targets.
Environment=AZURE_STORAGE_ACCOUNT=soramasharedstorage

# Uncomment the block below when using account key auth
Environment=AZURE_STORAGE_AUTH_TYPE=Key
# Specifies the storage account key to use for authentication.
Environment=AZURE_STORAGE_ACCESS_KEY=<account.key>

# Enables logs written to syslog. Set to LOG_WARNING by default. Allowed values are LOG_OFF|LOG_CRIT|LOG_ERR|LOG_WARNING|LOG_INFO|LOG_DEBUG
Environment=BlobLogLevel=LOG_DEBUG

# Under the hood
Environment=attr_timeout=240
Environment=entry_timeout=240
Environment=negative_timeout=120
Type=simple
ExecStart=blobfuse2 mount all ${BlobMountingPoint} --allow-other --foreground=true --virtual-directory=true --tmp-path=${BlobTmp} --config-file=${BlobConfigFile} --log-level=${BlobLogLevel}
ExecStop=fusermount -u ${BlobMountingPoint}

[Install]
WantedBy=multi-user.target
